# Файлы окружения
.env
.env.*

# Базы данных
*.db
*.sqlite
*.sqlite3

# Питоновские кэш-файлы
__pycache__/
*.py[cod]

# Логи
*.log
logs/

# Настройки IDE
.idea/
.vscode/

# Временные файлы
*.tmp
*.bak

# Данные и кэш
data/
cache/

# Системные файлы
.DS_Store
Thumbs.db# created by virtualenv automatically

.venv
